.body {
  width: 100vw;
  height: 100vh;
}
.active {
  color: red
}

::-webkit-scrollbar {
  width: 0px;
  color: #ffffff2f;
}

.blur {
  position: absolute;
  top: 0;
  left: 20;
  width: 200px;
  height: 200px;
  filter: blur(200px);
  background-color: #263345; 
}